body, html {
  height: 100%;
}

.App {
  text-align: center;
}

.main {
  height: 25em;
  background-image: url("./images/vanitas_kitchen.jpg");

  /* Full height */

  width:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.bg {
  /* The image used */
  background-image: url("./images/vanitas_kitchen.jpg");

  /* Full height */

  width:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cursive {
  font-family: cursive;
}

.group {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.subgroup {
  /*height: 1000px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1em;
  padding-bottom: 1em;
  border-style: solid;
  border-color: #8B3037;
}
.subgroup2 {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}

.photos {
  width: 100px;
  padding: 1em;
}

.bold{
  font-weight: 600;
}

.monthly_message {
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 0px;
  height: 65px;
  display: flex;
  align-items: center;
}

.monthly_message img {
  height: 55px;
  width: 55px;
  font-weight: bold;
  padding-left: 10px;
}

/* Header */
.header {
  background-color: #F4837C;
  color: #8B3037;
  display: flex;
  justify-content: space-around;
  border-width: medium;
  height: 175px;
  width: auto;
}

.head_images {
  padding-top: 1em;
}

.title {
  font-size: 5em;
  margin: 0px;
}

.subtitle {
  margin: 0px;
}
